body {
    overflow-x: hidden;
    overflow-y: scroll;
}

;
body,
html,
root {
    box-sizing: border-box;
    background-color: #e3e8ee;
}

;
div,
h1,
h2,
h3,
h4,
h5,
h6,
header,
html,
i,
img,
label,
li,
nav,
p,
small,
span,
ul {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    background: transparent;
}

body {
    font-family: Arial, sans-serif;
}