body {
    overflow-x: hidden !important;
    overflow-y: scroll;
   

}

;
body,
html,
root
 {
    box-sizing: border-box;
 
   
}

;
div,
h1,
h2,
h3,
h4,
h5,
h6,
header,
html,
i,
img,
label,
li,
nav,
p,
small,
span,
ul {
    margin: 0 !important;
    padding: 0 !important;
    border: 0;
    outline: 0;
    font-size: 100%;
    background: transparent;
   
}

body {
    font-family: Arial, sans-serif;

}